.article {
  position: relative;
  background-color: rgba(47, 47, 47, 0.164);
  padding-bottom: 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 2px rgb(18, 0, 34);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
}

.article h3 {
  text-align: center;
  color: rgb(22, 10, 90);
  font-size: 25px;
  margin-top: 20px;
  text-shadow: 2px 2px rgb(143, 172, 250);
}

.article img {
  border-bottom: 1px solid rgb(7, 0, 2);
}
