.modal {
  background-image: url("/public/assets/images/bmodal.jpg");
  background-color: rgba(255, 255, 255, 0.389);
  position: fixed;
  width: 85%;
  top: 10%;
  left: 8%;
  right: 10%;
  bottom: 0;
  z-index: 999;
  background-color: white;
  display: none;
  border: 1px solid white;
  transition: height 1s;
}

.modal.show {
  display: block;
  height: 600px;
}
.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid white;
}
.modal .header h1 {
  color: white;
}
.modal .header span {
  color: white;
}

.modal .body {
  overflow-y: scroll;
  height: 500px;
}
