.navbar {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.11);
}

@media (max-width: 600px) {
  .navbar img {
    width: 350px;
    height: 150px;
  }
  .navbar .space {
    width: 0;
    height: 0;
  }
  .navbar {
    width: 100vw;
  }
  .navbar {
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
  }
  .navbar {
    padding-top: 15px;
  }
  .navbar h2 {
    color: white;
    font-size: 18px;
  }
  .navbar h3 {
    color: yellow;
    text-align: center;
    font-size: 15px;
  }
  .navbar .contact {
    padding-left: 50px;
    padding-top: 30px;
  }
}

.navbar .space {
  width: 150px;
}
.navbar h2 {
  color: white;
}
.navbar h3 {
  color: yellow;
  text-align: center;
}
.navbar .contact {
  margin-right: 50px;
}
